---
---

// Liquid

$baseurl:               "{{ site.baseurl }}";

$native-scroll:         {{ site.native_scroll }};

$fa-icons:              ({% for icon in site.data.icon-types %}
                            {{ icon.type }}: {{ icon.color }},{% endfor %}
                        );

$device-dp:             ({% if jekyll.environment == 'production' or jekyll.environment == 'gulp' %}
                            {% for size in site.data.devices.dp %}
                                ({% for dimension in size %}
                                    {{ dimension[0] }}: {{ dimension[1] }},
                                {% endfor %}),
                            {% endfor %}
                        {% endif %});

$device-dppx:           ({% if jekyll.environment == 'production' or jekyll.environment == 'gulp' %}
                            {% for density in site.data.devices.dppx %}
                                {{ density }},
                            {% endfor %}
                        {% endif %});

// Imports

{% unless jekyll.environment == 'production' %}
    @import "../node_modules/sass-color-helpers/stylesheets/_color-helpers.scss"; // npm install --only dev
{% else %}
    @function ch-color-contrast($args...) { @return 21 }; // used by theme mixins
{% endunless %}

{% unless jekyll.environment == 'aws' or jekyll.environment == 'gulp' %}
    @import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css); // import normalize sheets when not running postcss
{% endunless %}


@import
    "variables",
    "functions/manifest",
    "mixins/manifest";

@import
    "base",
    "themes",
    "display",
    "layout",
    "containers",
    "wrappers",
    "inline",
    "tables",
    "flexbox",
    "text",
    "links",
    "images",
    "shadows",
    "icons",
    "transforms",
    "pseudo",
    "transitions",
    "header",
    "parallax",
    "media-queries",
    "javascript"
;
