@mixin theme($background-color: null, $text-color: null, $brand-color: null, $light-text: null, $accessibility: "AA") {
    $light-theme: null; $ld-tx-bg: null; $ld-br-tx: null; $ld-br-bg: null; $ct-tx-bg: null; $ct-br-tx: null; $ct-br-bg: null;
    $aa: to-upper-case(inspect($accessibility)) == "AA";
    $aaa: to-upper-case(inspect($accessibility)) == "AAA";

    @if $background-color and $text-color {
        $light-theme: lightness($text-color) < lightness($background-color);
        $ld-tx-bg: abs(lightness($text-color) - lightness($background-color)) / 100%;
        $ct-tx-bg: ch-color-contrast($background-color, $text-color);

        @if $light-theme and not($light-text) {
            $light-text: mix($text-color, $background-color, 58%);
        } @else {
            $light-text: mix($text-color, $background-color, 72%);
        }

        @if $light-theme {
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
        } @else {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        @if $ct-tx-bg < 4.5 and $aa {
            @warn "The contrast ratio of a theme's text (#{$text-color}) and background (#{$background-color}) colors is #{$ct-tx-bg}, which does not meet WCAG 2.0 AA standards.";
        } @else if $ct-tx-bg < 7 and $aaa {
            @warn "The contrast ratio of a theme's text (#{$text-color}) and background (#{$background-color}) colors is #{$ct-tx-bg}, which does not meet WCAG 2.0 AAA standards.";
        }
    } @else if not($brand-color or $light-text) {
        @if $background-color { @warn "Insufficient arguments passed to theme include: $background-color needs to be accompanied by a $text-color."; }
        @else if $text-color { @warn "Insufficient arguments passed to theme include: $text-color needs to be accompanied by a $background-color."; }
        @else { @warn "No arguments passed to theme include."; }
    }

    @if $brand-color and $text-color and $background-color {
        $ld-br-tx: abs(lightness($brand-color) - lightness($text-color)) / 100%;
        $ld-br-bg: abs(lightness($brand-color) - lightness($background-color)) / 100%;
        $ct-br-tx: ch-color-contrast($brand-color, $text-color);
        $ct-br-bg: ch-color-contrast($brand-color, $background-color);

        @if $ct-br-tx < 3 and $aa {
            @warn "The contrast ratio of a theme's link (#{$brand-color}) and text (#{$text-color}) colors is #{$ct-br-tx}, which does not meet WCAG 2.0 AA standards.";
        }
        @if $ct-br-bg < 4.5 and $aa {
            @warn "The contrast ratio of a theme's link (#{$brand-color}) and background (#{$background-color}) colors is #{$ct-br-bg}, which does not meet WCAG 2.0 AA standards.";
        } @else if $ct-br-bg < 7 and $aaa {
            @warn "The contrast ratio of a theme's link (#{$brand-color}) and background (#{$background-color}) colors is #{$ct-br-bg}, which does not meet WCAG 2.0 AAA standards.";
        }
    }

    background-color: $background-color;
    color: $text-color;
    border-color: $text-color;

    .fill-color-theme, &.fill-color-theme {
        &-text {
            fill: $text-color;
        }
        &-bg {
            fill: $background-color;
        }
        &-brand {
            fill: $brand-color;
        }
    }

    .stroke-color-theme, &.stroke-color-theme {
        &-text {
            stroke: $text-color;
        }
        &-bg {
            stroke: $background-color;
        }
        &-brand {
            stroke: $brand-color;
        }
    }

    @if $background-color and $text-color {
        @at-root & blockquote, blockquote#{nth(&, length(&))} {
            color: $light-text;
            border-left-color: mix($light-text, $background-color, 25%);
        }

        @at-root & pre, pre#{nth(&, length(&))}, & code, code#{nth(&, length(&))} {
            @if $light-theme {
                $box-color: darken($background-color, $ld-tx-bg * 15%);
                $box-color: desaturate($box-color, saturation($box-color) / 2 );
                color: mix($text-color, $box-color, 80%);
                border-color: darken($box-color, $ld-tx-bg * 25%);
                background-color: $box-color;
            } @else {
                $box-color: lighten($background-color, $ld-tx-bg * 15%);
                $box-color: desaturate($box-color, saturation($box-color) / 2 );
                color: mix($text-color, $box-color, 80%);
                border-color: darken($box-color, $ld-tx-bg * 10%);
                background-color: $box-color;
            }
        }

        .text-light, &.text-light {
            color: $light-text;
        }

        .border-light, &.border-light {
            @include all-sides {
                border-color: mix($text-color, $background-color, 10%);
            }
        }

        .border-x-light, &.border-x-light {
            @include all-sides {
                border-color: mix($text-color, $background-color, 5%);
            }
        }
    } @else if $light-text {
        @at-root & blockquote, blockquote#{nth(&, length(&))} {
            color: $light-text;
            border-left-color: lighten($light-text, 25%);
        }

        .text-light, &.text-light {
            color: $light-text;
        }
    }

    @if $brand-color {
        @at-root & a, a#{nth(&, length(&))} {
            color: $brand-color;

            @if $text-color and $background-color {
                &:hover { color: darken($brand-color, $ld-br-tx * 45%); }
                &:visited { color: lighten($brand-color, $ld-br-bg * 35%); }
            } @else {
                &:hover { color: darken($brand-color, 15%); }
                &:visited { color: darken($brand-color, 25%); }
            }
        }
    }

    .subtle-link, &.subtle-link {
        text-decoration: none;

        &, &:hover, &:visited {
            color: $text-color;
        }
    }
}
