---
layout: default
itemtype: "http://schema.org/MusicGroup"
---

<meta itemprop="url" content="{{ site.url | append: site.baseurl }}">

<div class="splash-wrapper flex-col flex-justify-center fullscreen-fixed content-padding">

  <h1 class="hidden" itemprop="name">{{ site.title }}</h1>

  <img class="v-rhythm" itemprop="logo" src="{{ site.baseurl | append: '/assets/logo.svg' }}" alt="{{ site.title }}">

  <ul id="social-media" class="flex-row flex-center media-icon-basic media-icon-button-list">
    {% include all-media-icons.liquid icon_set=site.contact style="o play" list="true" microdata=true %}
  </ul>

</div>

{% assign has_future = false %}
{% for show in site.data.shows %}
  {% assign show_date = show.date | date: '%s' | plus: 0 %}
  {% assign current_date = 'now' | date: '%s' | plus: 0 %}
  {% if show_date > current_date %}
    {% assign has_future = true %}
  {% endif %}
{% endfor %}
{% if has_future %}

  <div>

    <h2>Upcoming Shows</h2>

    <ul class="unlist">
      {% for show in site.data.shows %}
        {% assign show_date = show.date | date: '%s' | plus: 0 %}
        {% assign current_date = 'now' | date: '%s' | plus: 0 %}
        {% if show_date > current_date %}
          <li class="show-info">
            {{ show.date | date: "%a %b %e" }}
            {{ show.venue }}
            {{ show.street }}
            {{ show.city }}
            {{ show.state }}
            {{ show.postal }}
            {% include all-media-icons.liquid icon_set=show.links style="square" %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

{% endif %}

<div class="dark">

  <div class="media-wrapper content-padding fullscreen flex-col flex-center">

    <h2 class="hidden">Media</h2>

    <div class="fill-flex-parent flex-col flex-space-around media-columns">

      <div>
        <img src="{{ site.baseurl | append: '/assets/machine-title-card-inverted.png' }}" alt="I Wanna Be A Machine">
      </div>

      <div>
        <div class="aspect-16-9">
          <iframe src="https://www.youtube.com/embed/4Ihh8SwPg80" allowfullscreen></iframe>
        </div>
      </div>

    </div>

  </div>

</div>
