---
layout: default
itemtype: "http://schema.org/MusicGroup"
---

{% assign has_future = false %}
{% for show in site.data.shows %}
  {% assign show_date = show.date | date: '%s' | plus: 0 %}
  {% assign current_date = 'now' | date: '%s' | plus: 0 %}
  {% if show_date > current_date %}
    {% assign has_future = true %}
  {% endif %}
{% endfor %}

<meta itemprop="url" content="{{ site.url | append: site.baseurl }}">

<div id="splash" class="relative dark splash-background">

  {% capture dylan_img %}
    <img class="absolute p84-height bottom-left translate-left-p10 dylan-mq" src="{{ site.baseurl }}/assets/images/bucket-dylan.png" alt"">
  {% endcapture %}
  {% capture rob_img %}
    <img class="absolute p84-height bottom-right translate-right-p10 rob-mq" src="{{ site.baseurl }}/assets/images/bucket-rob.png" alt"">
  {% endcapture %}

  {% include responsive-picture.html img=dylan_img %}
  {% include responsive-picture.html img=rob_img %}

  <div class="relative splash-wrapper padding-m screen-height flex-col flex-center" data-force-fullscreen>

    <h1 class="hidden" itemprop="name">{{ site.title }}</h1>

    <img class="margin-auto-t margin-m-b" itemprop="logo" src="{{ site.logo.svg | prepend: site.baseurl }}" alt="{{ site.title }}">

    <ul id="social-media" class="margin-auto-b full-width flex-row flex-center media-icon-basic media-icon-list">
      {% include all-media-icons.liquid icon_set=site.contact style="o play" list="true" microdata=true %}
    </ul>

    <a href="#music" class="fa fa-chevron-down subtle-icon scroll-arrow" data-smooth-scroll data-hide-on-scroll></a>

  </div>

</div>

<div id="temper-tantrum" class="light content-wrapper v-rhythm padding-m text-center">

  <h2 class="avenir-hand font-size-triple">New Album: Temper Tantrum</h2>

  <div class="bandcamp-ratio margin-auto-h">
    <iframe src="https://bandcamp.com/EmbeddedPlayer/album=2871722682/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless>
      <a href="http://moretongues.bandcamp.com/album/temper-tantrum">Temper Tantrum by More Tongues Than Teeth</a>
    </iframe>
  </div>

  <p class="avenir-hand font-size-double">Now available on iTunes and Spotify.</p>

</div>

<div id="music" class="dark">

  <div class="media-wrapper padding-m screen-height-min flex-col flex-center" data-force-fullscreen>

    <h2 class="hidden">Music</h2>

    <div class="margin-auto-v fill-flex-parent flex-col flex-space-around media-columns" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">

      <div>
        <meta itemprop="name" content="I Wanna Be A Machine">
        <img itemprop="image" src="{{ site.baseurl | append: '/assets/machine-title-card-inverted.png' }}" alt="I Wanna Be A Machine">
      </div>

      <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <meta itemprop="name" content="I Wanna Be A Machine">
        <meta itemprop="thumbnailUrl" content="https://i.ytimg.com/vi_webp/4Ihh8SwPg80/maxresdefault.webp">
        <div class="aspect-16-9">
          <iframe itemprop="url" src="https://www.youtube.com/embed/4Ihh8SwPg80" allowfullscreen></iframe>
        </div>
      </div>

    </div>

    {% if has_future %}
      <a href="#shows" class="fa fa-chevron-down subtle-icon scroll-arrow" data-smooth-scroll data-hide-on-scroll></a>
    {% endif %}

  </div>

</div>

{% if has_future %}

  <div id="shows" class="light screen-height-min flex-col">

    <div class="content-wrapper padding-m-h padding-l-t half-height-min fill-flex-parent flex-col flex-justify-center">

      <h2 class="text-center">Upcoming Shows</h2>

      <ul class="unlist">
        {% for show in site.data.shows %}
          {% assign show_date = show.date | date: '%s' | plus: 0 %}
          {% assign current_date = 'now' | date: '%s' | plus: 0 %}
          {% if show_date > current_date %}
            <li class="show full-width padding-xs-v border-between border-light flex-fill-parent flex-row flex-align-center" itemprop="event" itemscope itemtype="http://schema.org/Event">
              <meta itemprop="name" content="Show at {{ show.venue }}">
              <time class="show-time flex-row" datetime="{{ show.date | date_to_xmlschema }}" itemprop="startDate doorTime">
                <span class="meta show-date">{{ show.date | date: "%b %-d" }}</span>
                <span class="meta show-day">{{ show.date | date: "%a" }}</span>
              </time>
              <span class="show-location flex-row flex-align-center flex-space-between fill-flex-parent" itemprop="location" itemscope itemtype="http://schema.org/Place">
                <span class="venue" itemprop="name">{{ show.venue }}</span>
                <span class="venue-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span class="hidden" itemprop="streetAddress">{{ show.street }}</span>
                  <span itemprop="addressLocality">{{ show.city }}</span><span class="explicit">,&nbsp;</span
                  ><span class="explicit" itemprop="addressRegion">{{ show.state }}</span>
                  <span class="hidden" itemprop="postalCode">{{ show.postal }}</span>
                </span>
              </span>
              <span class="show-links text-right media-icon-basic media-icon-bloat">
                {% include all-media-icons.liquid icon_set=show.links style="square" %}
              </span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

    </div>

    <div class="half-screen-height-max overflow-h">
      <!-- <div class="contact&#45;background aspect&#45;spaghetti"></div> -->
      {% capture contact_background %}
        <img class="full-width auto-height" src="{{ site.baseurl | append: '/assets/images/spaghetti-floor.jpg' }}" alt="">
      {% endcapture %}
      {% include responsive-picture.html img=contact_background %}
    </div>

  </div>

{% endif %}
