---
layout: default
title: Second Page
---

<div class="margin-auto padding-m text-wrapper">

  <h2>{{ page.title }}</h2>

  <p>Some text about a thing:</p>

  {% capture filler %}{% include lorem-ipsum.md %}{% endcapture %}
  <blockquote>{{ filler | truncate: 400 }}</blockquote>

  <p>Some <span class="text-light">light text</span> as well.</p>

  <p>A <a href="https://github.com/dawaltconley">link to somewhere</a> and a <a href="{{ site.url | append: site.baseurl }}">link to here</a>.</p>

  <div class="border-basic border-light">
    <p>Some bordered text</p>
  </div>

  <p>Here is some code:</p>

  <pre>
function(arg1, arg2) {
    // do some things
}
  </pre>

  <p>Here is a list:</p>

  <ul>
    <li>One item.</li>
    <li>Another item.
      <ul>
        <li>A couple of</li>
        <li>grouped items.</li>
      </ul>
    </li>
    <li>A final item.</li>
  </ul>

</div>

<div class="flex-row flex-center media-icon-button media-icon-list icon-size">
  {% include all-media-icons.liquid icon_set=site.data.contact %}
</div>
