<div class="top-left" data-background-select data-background-element="{{ include.element }}">
  <select>
    {% for image in include.images %}
      {% if image.name %}
        {% assign image_name = image.name %}
      {% else %}
        {% assign image_name = 'image ' | append: forloop.index %}
      {% endif %}
      {% if image.path %}
        {% assign image_path = image.path %}
      {% else %}
        {% assign image_path = image %}
      {% endif %}
      <option value="{{ image_path }}" {% if image.size %} data-size="{{ image.size }}" {% endif %} {% if image.position %} data-position="{{ image.position }}" {% endif %}>{{ image_name }}</option>
    {% endfor %}
  </select>
  <input type="range" value="0">
</div>
