{% assign id = include.on %}
{% if include.type %}
  {% assign type = include.type %}
{% else %}
  {% assign type = 'comment' %}
{% endif %}


<form class="margin-m-v text-wrapper" action="https://7uoj7r2as8.execute-api.us-east-1.amazonaws.com/default" method="post" data-content-type="application/json" data-comment-form>
  <input type="hidden" name="replyTo" value="{{ id }}">
  <textarea class="block full-width" name="comment" placeholder="Leave a {{ type }}..."></textarea>
  <div class="flex-row flex-align-center margin-s-t h-rhythm">
    <input type="text" class="full-width" name="name" placeholder="Name">
    <input type="text" class="full-width" name="email" placeholder="Email">
    <button type="submit" class="button cursor-pointer">Submit</button>
  </div>
  <label class="flex-row flex-align-center margin-s-t text-light fs-smaller">
    <input type="checkbox" data-save="name email">
    <span>Remember me</span>
  </label>
</form>

<ul class="unlist v-rhythm">
  {% assign sorted_comments = site.comments | where: 'replyTo', id | sort: 'date' | reverse %}
  {% for comment in sorted_comments %}
    <li>
      <p class="ff-heading">{{ comment.name }}</p>

      {% assign content = comment.content | markdownify %}
      {{ comment }}

      <a class="block" href="#reply-to-{{ comment.id }}">Reply</a>
      <div id="reply-to-{{ comment.id }}" class="indented target target-display v-rhythm">
        {% include comment-form.html on=comment.id type='reply' %}
      </div>
    </li>
  {% endfor %}
</ul>
