<footer class="margin-auto-t border-basic-t border-light">

  <div class="content-wrapper padding-m text-center">

    <div class="margin-s-b media-icon-basic media-icon-list fs-icon">
      {% include all-media-icons.liquid icon_set=site.data.contact %}
    </div>

    <div class="flex-row-gt-laptop flex-justify-center fs-smaller margin-auto-h">
      <div class="padding-xs-h border-basic-r border-0-lt-laptop">
        <span class="avoid-wrap">Copyright &copy; <time datetime="{{ site.copyright.date | date_to_xmlschema }}">{{ site.copyright.date | date: '%Y' }}</time></span>
        <span class="avoid-wrap">{{ site.copyright.owner }}</span>
      </div>
      <div class="padding-xs-h">
        <span class="avoid-wrap">Site design by</span>
        <a href="https://github.com/dawaltconley" class="subtle-link avoid-wrap" target="_blank" data-analytics-category="Contact Link" data-analytics-action="click" data-analytics-label="Followed link to Dylan's Github (good job!)">
          <i class="fab fa-github fa-fw">&nbsp;</i>Dylan Awalt-Conley
        </a>
      </div>
    </div>

  </div>

</footer>
