/*
 * Reset some basic elements
 */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*
 * Set all page elements to border-box sizing
 */
 
* {
    box-sizing: border-box;
}

/*
 * Prevent Horizontal Scrolling
 */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    @if $native-scroll { scroll-behavior: smooth; }
}

/*
 * Basic styling
 */

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/*
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $default-spacing;

    &:last-child {
        margin-bottom: 0;
    }
}

/**
 * Media
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

iframe {
    border: 0;
    overflow: hidden;
}

/**
 * Figures
 */

figure > img {
    @extend .block;
}

figcaption {
    font-size: smaller;
}

/**
 * Lists
 */

ul, ol {
    margin-left: $default-spacing * 2;

    @media screen and (max-width: map-get($bp, "mobile")) {
        margin-left: $default-spacing;
    }
}

li {
    > ul,
    > ol,
    > p:only-child {
         margin-bottom: 0;
    }
}

ul.unlist {
    margin-left: 0;
    list-style: none;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
    font-weight: $header-font-weight;
    line-height: 1;
    text-decoration: none;
}

@for $i from 1 through 6 { // generate header styles
    $font-size: 1em;
    @if $i <= length($header-sizes) {
        $font-size: nth($header-sizes, $i);
    }

    h#{$i} {
        font-size: $font-size;
        letter-spacing: $font-size / -100;
    }
}

hr {
    margin: $default-spacing 0;
}

/**
 * Links
 */

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*
 * Blockquotes
 */

blockquote {
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: $default-spacing;
    font-size: smaller;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/*
 * Code formatting
 */

pre, code {
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/*
 * Icons
 */

svg {
    display: inline; // for ie and others
    display: initial;
}
