/*
 * Containers
 */

.overflow-v {
    overflow: visible;
}

.overflow-h {
    overflow: hidden;
}

.overflow-a {
    overflow-x: hidden;
    overflow-y: auto;
}

%fill {
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.fill-window {
    @extend .fixed, .pos-0;
}

.fill-parent {
    @extend .absolute, .pos-0;
}

.expand-children {
    @extend .relative;

    & > * {
        @extend .fill-parent;
    }
}

.center-child {
    @extend .relative;

    & > *:only-child {
        @extend .abs-center;
    }
}

.aspect-16-9 {
    @include fixed-ratio(16, 9);
}

.contains-3d {
    -webkit-perspective: $perspective;
    perspective: $perspective;

    &-deep * {
        @extend .contains-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

.render-3d {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
