/*
 * Flexbox
 */

.flex-row {
    @extend %flex;
    flex-direction: row;
}

.flex-col {
    @extend %flex;
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-center {
    @extend .flex-justify-center, .flex-align-center;
}

.flex-align-bottom {
    align-items: flex-end;
}

.flex-fill > *, .fill-flex-parent {
    flex: 1 1 auto;
}

.flex-even > * {
    flex: 1 1 0%;
}

.flex-none > * {
    flex: none;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}
