/*
 * Site header
 */

@media screen and (max-width: map-get($bp, header)) {
    [data-menu-links] {
        height: auto;
        max-height: 0;

        & > * {
            width: 100%;
            margin-bottom: 2px;
            line-height: 2;
        }
    }

    [data-menu-link] {
        $spacing: map-get($spacings, m);
        height: auto;
        padding-left: $spacing;
        padding-right: $spacing;

        [data-menu-dropdown] & {
            padding-left: 2 * $spacing;
        }
    }
}
