/*
 * Site header
 */

@media screen and (max-width: map-get($bp, header)) {
    .nav-lt-header {
        > * {
            float: none;
            width: 100%;
        }

        #nav-links {
            .cell {
                display: block;
                width: 100%;
            }
        }
    }
}

.header-font {
    line-height: $header-height;
}
