/*
 * Images
 */

img.object-fit-cover {
    object-fit: cover;
    font-family: 'object-fit: cover;'
}

img.object-fit-contain {
    object-fit: contain;
    font-family: 'object-fit: contain;'
}

.bg-img {
    @include background-image;
}
