/*
 * Inline Layouts
 */

.font-0 {
    &, &-deep {
        font-size: 0;
    }

    > * {
        font-size: $base-font-size;
    }
}

.inline-row {
    white-space: nowrap;

    > * {
        @extend .inline-block;
        white-space: normal;
    }
}
