/*
 * Basic
 */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.transparent {
    opacity: 0;
}

.content-box {
    box-sizing: content-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    border-spacing: 0;
}

/*
 * Sizes
 */

@each $name, $size in $sizes {
    $width: null;
    $height: null;

    @if length($size) == 1 {
        $width: $size;
        $height: $size;
    } @else if length($size) == 2 {
        $width: nth($size, 1);
        $height: nth($size, 2);
    } @else {
        @error "Wrong number of values in #{$name} size.";
    }

    .#{$name} {
        &-width {
            width: $width;
            &-min { min-width: $width; }
            &-max { max-width: $width; }
        }
        &-height {
            height: $height;
            &-min { min-height: $height; }
            &-max { max-height: $height; }
        }
        @if $width and $height {
            &-size {
                @extend .#{$name}-width, .#{$name}-height;
                &-min { @extend .#{$name}-width-min, .#{$name}-height-min; }
                &-max { @extend .#{$name}-width-max, .#{$name}-height-max; }
            }
        }
    }
}

.max-width-none {
    max-width: none;
}

.max-height-none {
    max-height: none;
}

#header.header-size, #header.header-height {
    & + .parallax-group {
        $hh: map-get($sizes, header);
        $hh: nth($hh, length($hh));
        margin-top: -$hh;
        padding-top: $hh;
    }
}

.slide-button-width {
    width: 20%;
    min-width: 80px;
}

/*
 * Margins
 */

@each $name, $value in $spacings {
    .margin-#{$name} {
        @include all-sides {
            margin-#{$side}: $value;
        }
    }
}

.indented-comment {
    margin-left: $default-spacing * 2;

    & & & & { // stop indenting after 3 levels
        margin-left: 0;
    }

    @media screen and (max-width: map-get($bp, laptop)) {
        margin-left: $default-spacing;

        & & & { // stop indenting after 2 levels
            margin-left: 0;
        }
    }
}

/*
 * Paddings
 */

@each $name, $value in $spacings {
    @if $value != "auto" {
        .padding-#{$name} {
            @include all-sides {
                padding-#{$side}: $value;
            }
        }
    }
}

/*
 * Positioning
 */

@each $name, $value in $spacings {
    .pos-#{$name} {
        @include all-sides {
            #{$side}: $value;
        }
    }
}

.abs-center {
    @extend .absolute;
    top: 50%; left: 50%;
    @include transform(translate(-50%, -50%));
}

.abs-center-h {
    @extend .absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

.abs-center-v {
    @extend .absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

/*
 * Z-Axis
 */

@for $i from nth($z-range, 1) through nth($z-range, 2) {
    $class-name: if($i < 0, z-neg-#{($i * -1)}, z-#{$i});

    .#{$class-name} {
        @extend .relative;
        z-index: $i;
    }
}

.front {
    @extend .relative;
    z-index: nth($z-range, 2) + 1;
}

.back {
    @extend .relative;
    z-index: nth($z-range, 1) - 1;
}

/*
 * Borders
 */

@each $name, $styles in $borders {
    .border-#{$name} {
        @include all-sides {
            border-#{$side}-width: map-get($styles, width);
            border-#{$side}-style: map-get($styles, style);
            @if map-has-key($styles, color) {
                border-#{$side}-color: map-get($styles, color) !important;
            }
        }
    }

    .h-line-#{$name} {
        @extend %h-line;
        &::before, &::after {
            border-top-width: map-get($styles, width);
            border-top-style: map-get($styles, style);
            @if map-has-key($styles, color) {
                border-top-color: map-get($styles, color) !important;
            }
        }
    }
}

.border-between > * {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;

    &:last-child {
        border-bottom-width: 0;
    }
}

.border-around > * {
    border-left-width: 0;
    border-right-width: 0;

    &:nth-child(n + 2) {
        border-top-width: 0;
    }
}

.border-smooth {
    border-radius: 10px;
}

.ellipse {
    border-radius: 50%;
}

%h-line {
    @extend .flex-row, .flex-align-center;

    &::before, &::after {
        content: "";
        flex: 1 1 auto;
        border-top-color: inherit;
    }

    &::before {
        margin-right: .5em;
    }

    &::after {
        margin-left: .5em;
    }
}
