/*
 * Generated
 */

@each $name, $size in $sizes {
    $width: null;
    $height: null;

    @if length($size) == 1 {
        $width: $size;
        $height: $size;
    } @else if length($size) == 2 {
        $width: nth($size, 1);
        $height: nth($size, 2);
    } @else {
        @error "Wrong number of values in #{$name} size.";
    }

    .#{$name} {
        &-size, &-width {
            width: $width;
        }
        &-size, &-height {
            height: $height;
        }
        &-size-min, &-width-min {
            min-width: $width;
        }
        &-size-min, &-height-min {
            min-height: $height;
        }
        &-size-max, &-width-max {
            max-width: $width;
        }
        &-size-max, &-height-max {
            max-height: $height;
        }
    }
}

@each $name, $size in $margins {
    @include all-sides("margin-" + $name) {
        margin-#{$side}: $size;
    }
}

@each $name, $size in $paddings {
    @include all-sides("padding-" + $name) {
        padding-#{$side}: $size;
    }
}

@each $name, $styles in $borders {
    @include all-sides("border-" + $name) {
        border-#{$side}-width: map-get($styles, width);
        border-#{$side}-style: map-get($styles, style);
        border-#{$side}-color: map-get($styles, color);
    }
}

@each $name, $styles in $themes {
    .#{$name} {
        @include theme-styles($styles);
    }
}

/*
 * Basic
 */

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.bottom {
    bottom: 0;
}

.top-left {
    @extend .absolute, .top, .left;
}

.top-right {
    @extend .absolute, .top, .right;
}

.bottom-left {
    @extend .absolute, .bottom, .left;
}

.bottom-right {
    @extend .absolute, .bottom, .right;
}

.left-quarter {
    left: 25%;
}

@for $i from -1 through 9 {
    $class-name: z-#{$i};
    @if ($i < 0) {
        $class-name: z-neg-#{($i * -1)};
    }
    .#{$class-name} {
        @extend .relative;
        z-index: $i;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.v-rhythm > *:not(:last-child) {
    @extend %vertical-rhythm;
}

.hidden {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    border-spacing: 0;
}

/*
 * Wrappers
 */

.splash-wrapper {
    width: $splash-wrapper-width;
    min-width: $bp-mobile;
    margin: 0 auto;

    @media screen and (max-width: $bp-mobile) {
        width: 100%;
        min-width: 0;
    }
}

.content-wrapper {
    @include wrapper(map-values($bp));
}

.text-wrapper {
    @each $length in $base-line-length {
        max-width: $length;
    }
}

.media-wrapper {
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $bp-media-columns) {
        width: $media-wrapper-width;
    }

    @media screen and (max-width: $media-wrapper-width) {
        width: 100%;
    }
}

.unwrap {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.stretch {
    @extend .unwrap;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

/*
 * Containers
 */

.overflow-v {
    overflow: visible;
}

.overflow-h {
    overflow: hidden;
}

.fill-window {
    @extend .full-size !optional;
    position: fixed;
    top: 0; left: 0;
}

.fill-parent {
    @extend .full-size !optional;
    position: absolute;
    top: 0; left: 0;
}

.expand-children {
    position: relative;

    & > * {
        @extend .fill-parent;
    }
}

%fixed-ratio { // extended by the fixed-ratio mixin
    @extend .expand-children;
    height: 0;
}

.aspect-16-9 {
    @include fixed-ratio(16, 9);
}

.aspect-logo {
    @include fixed-ratio(1714.69, 1313.48);
}

.aspect-spaghetti {
    @include fixed-ratio(5063, 2361);
}

.bandcamp-ratio {
    @extend %fixed-ratio;
    width: 100%;
    max-width: 700px;
    padding-top: calc(100% + 118px);

    @media screen and (max-width: 300px + ($spacing-unit * 2) - 1px) {
        padding-top: calc(100% + 143px);
    }
}

.contains-3d {
    -webkit-perspective: $perspective;
    perspective: $perspective;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &-deep * {
        @extend .contains-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
}

/*
 * Tables
 */

.table {
    display: table;
}

.table-fixed {
    @extend .table;
    table-layout: fixed;
}

.column {
    display: column;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.v-center {
    vertical-align: middle;
}

%columns {
    display: table;
    width: calc(100% + (#{$spacing-unit} * 2));
    margin: -$spacing-unit;
    border-spacing: $spacing-unit;
    table-layout: fixed;

    &:last-child > :last-child {
        margin-bottom: 0;
    }
}

@each $name, $breakpoint in $bp {
    .#{$name}-columns {
        @extend %columns;
        @include columns-reset($breakpoint);
    }
}

/*
 * Inline Layouts
 */

.font-0 {
    font-size: 0;

    > * {
        font-size: $base-font-size;
    }
}

.inline-row {
    white-space: nowrap;

    > * {
        display: inline-block;
        white-space: normal;
    }
}

/*
 * Flexbox
 */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-center {
    @extend .flex-justify-center, .flex-align-center;
}

.flex-align-bottom {
    align-items: flex-end;
}

.fill-flex-parent {
    flex: 1 1 auto;
}

.flex-even > * {
    flex: 1 1 0%;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

/*
 * Specific
 */

.media-columns {
    & > * {
        margin-bottom: $spacing-unit;
        width: 100%;
    }

    @media screen and (min-width: $bp-media-columns) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 0;

        & > * {
            flex: 1 1 0;
            margin: $spacing-unit;
        }
    }
}

.show {
    line-height: 1.2;
}

.show-time > * {
    &:first-child {
        width: 4.5em;
    }
    &:last-child {
        width: 4em;
    }
}

.venue, .venue-address {
    margin-right: 1em;
}

.venue-address {
    flex: 0 1 40%;
}

.show-links {
    font-size: 1.35em;
    min-width: 1.35em;
}

@media screen and (max-width: $bp-laptop) {
    .show-time {
        flex-direction: column;
    }

    .show-day {
        order: -1;
    }
}

@media screen and (max-width: $bp-mobile) {
    .show {
        font-size: 0.9em;
    }

    .venue-address {
        flex: 0 1 auto;
    }
}

@media screen and (max-width: 28em) {
    .show-day {
        margin-bottom: .1em;
    }

    .show-location {
        flex-direction: column;
        align-items: flex-start;
    }

    .venue {
        margin-bottom: .2em;
    }
}
