/*
 * Basic
 */

.v-rhythm {
    @extend %vertical-rhythm;
}

.v-rhythm-2 {
    margin-bottom: $spacing-unit * 2;
}

.content-padding-horz {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

.content-padding-vert {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
}

.content-padding {
    @extend .content-padding-horz, .content-padding-vert;
}

.fullscreen {
    min-height: 100vh;
}

.fullscreen-fixed {
    height: 100vh;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
        border-spacing: 0;
    }
}

/*
 * Wrappers
 */

.splash-wrapper {
    width: $splash-wrapper-width;
    min-width: $bp-mobile;
    margin: 0 auto;

    @media screen and (max-width: $bp-mobile) {
        width: 100%;
        min-width: 0;
    }
}

.media-wrapper {
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: $bp-media-columns) {
        width: $media-wrapper-width;
    }

    @media screen and (max-width: $media-wrapper-width) {
        width: 100%;
    }
}

.unwrap {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.stretch {
    @extend .unwrap;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

/*
 * Themes
 */

@each $name, $styles in $themes {
    .#{$name} {
        background-color: map-get($styles, "background-color");
        color: map-get($styles, "text-color");
        border-color: map-get($styles, "text-color");

        @if map-has-key($styles, "font-smoothing") {
            $fs: map-get($styles, "font-smoothing");
            @if $fs == "normal" {
                @extend .font-smoothing-normal;
            } @else if $fs == "dark" {
                @extend .font-smoothing-dark;
            } @else {
                @error "Bad font-smoothing value in #{$name} theme."
            }
        }
    }
}

/*
 * Containers
 */

.fill-parent {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.expand-child {
    position: relative;

    & > :only-child {
        @extend .fill-parent;
    }
}

%fixed-ratio { // extended by the fixed-ratio mixin
    @extend .expand-child;
    height: 0;
}

.aspect-16-9 {
    @include fixed-ratio(16, 9);
}

/*
 * Tables
 */

.table {
    display: table;
}

.column {
    display: column;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.v-center {
    vertical-align: middle;
}

%columns {
    display: table;
    width: calc(100% + (#{$spacing-unit} * 2));
    margin: -$spacing-unit;
    border-spacing: $spacing-unit;
    table-layout: fixed;

    &:last-child > :last-child {
        margin-bottom: 0;
    }
}

.mobile-columns {
    @extend %columns;
    @include columns-reset($bp-mobile);
}

/*
 * Flexbox
 */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-center {
    @extend .flex-justify-center, .flex-align-center;
}

.fill-flex-parent {
    flex: 1 0 100%;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.media-columns {
    & > * {
        @extend %vertical-rhythm;
        width: 100%;
    }

    @media screen and (min-width: $bp-media-columns) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 0;

        & > * {
            flex: 1 1 0;
            margin: $spacing-unit;
        }
    }
}
