/*
 * Links
 */

.subtle-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.subtle-icon {
    @extend .subtle-link;

    &:hover {
        text-decoration: none;
    }
}

.button, .subtle-button {
    @extend %vertical-rhythm, .inline-block, .font-smoothing-normal, .subtle-icon;
    padding: .5em 1em;
    text-align: center;
    text-shadow: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 7px;
    transition-duration: map-get($transitions, default);
    transition-property: color, background-color;
}
