/*
 * Links
 */

.subtle-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.subtle-icon {
    @extend .subtle-link;

    &:hover {
        text-decoration: none;
    }
}

