/*
 * Media Queries
 */

.hide {
    @include mq {
        display: none;
    }
}

.padding-0 {
    @include mq("header") {
        padding: 0;
    }
}

.full-width {
    @include mq("header") {
        width: 100%;
    }
}

.float-none {
    @include mq("header") {
        float: none;
    }
}

.text-left-lt-27em {
    @media screen and (max-width: 27em) {
        text-align: left;
    }
}
