/*
 * Media Queries
 */

.hide {
    @include mq {
        display: none;
    }
}

.show {
    @include mq {
        display: block;
        display: initial;
    }
}

.padding-0 {
    @include mq {
        padding: 0;
    }
}

.border-0 {
    @include mq {
        border-width: 0;
    }
}

.text-left-lt-27em {
    @media screen and (max-width: 27em) {
        text-align: left;
    }
}
