/*
 * Media Queries
 */

.hide {
    @include mq {
        display: none;
    }
}

.absolute {
    @include mq {
        position: absolute;
    }
}

.hover-display {
    @include mq {
        @include no-hover {
            display: none;
        }
    }
}

.float-none {
    @include mq {
        float: none;
    }
}

.table-columns {
    @include mq($queries: (gt: min)) {
        @include table-columns;
    }
}

.flex-row {
    @include mq {
        display: flex;
        flex-direction: row;

        &.inline-flex {
            display: inline-flex;
        }
    }
}

.flex-col {
    @include mq {
        display: flex;
        flex-direction: column;

        &.inline-flex {
            display: inline-flex;
        }
    }
}

.inline-flex {
    @include mq("mobile") {
        display: inline-flex;
    }
}

.full-width {
    @include mq {
        width: 100%;
    }
}

.auto-width {
    @include mq {
        width: auto;
        min-width: auto;
        max-width: none;
    }
}

.auto-height {
    @include mq {
        height: auto;
        min-height: auto;
        max-height: none;
    }
}

.margin-auto {
    @include all-sides {
        @include mq {
            margin-#{$side}: auto;
        }
    }
}

.margin-0 {
    @include all-sides {
        @include mq {
            margin-#{$side}: 0;
        }
    }
}

.padding-0 {
    @include all-sides {
        @include mq {
            padding-#{$side}: 0;
        }
    }
}

.border-0 {
    @include all-sides {
        @include mq {
            border-#{$side}-width: 0;
        }
    }
}

/*
 * Header Only
 */

.overflow-h {
    @include mq("header") {
        overflow: hidden;
    }
}

.cursor-pointer {
    @include mq("header") {
        cursor: pointer;
    }
}

/*
 * Large Only
 */

.sidebar {
    @include mq("large") {
        width: (100% / 3);
        min-width: 240px;
        max-width: $base-line-length / 2;
    }
}

/*
 * Mobile Only
 */

.pos-xs {
    @include all-sides {
        @include mq("mobile") {
            #{$side}: map-get($spacings, xs);
        }
    }
}

.fs-icon {
    @include mq("mobile") {
        font-size: map-get($font-sizes, icon);
    }
}
