/*
 * Text
 */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-justify-full {
    @extend .text-justify;

    @supports (text-align-last: justify) {
        text-align-last: justify;
    }

    @supports (not (text-align-last: justify)) {
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }
}

.avoid-wrap {
    //text-wrap: avoid; //css3
    white-space: nowrap;
}

/*
 * Tables
 */

.table {
    display: table;
}

.column {
    display: column;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.v-center {
    vertical-align: middle;
}

%columns {
    display: table;
    width: calc(100% + (#{$spacing-unit} * 2));
    margin: -$spacing-unit;
    border-spacing: $spacing-unit;
    table-layout: fixed;

    &:last-child > :last-child {
        margin-bottom: 0;
    }
}

.mobile-columns {
    @extend %columns;
    @include columns-reset($page-wrapper-bp);
}

/*
 * Icons
 */

.fa-icon-circle {
    $circle-size: 1.5;
    line-height: $circle-size;
    text-align: center;

    &::before {
        display: inline-block;
        margin: 0;
        width: $circle-size * 1em;
        height: $circle-size * 1em;
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        border-color: inherit;
    }
}

@each $icon-name, $color in $fa-icons {
    .#{$icon-name}-icon:hover {
        color: $color;

        &::before {
            background-color: $color !important;
            border-color: $color !important;
        }
    }
}

.media-icon::before {
    @extend .no-select;
    user-select: none;
    transition: .3s;
}

.media-icon-basic .media-icon:hover::before {
    background-color: inherit !important;
    background-color: unset !important;
    border-color: inherit !important;
    border-color: unset !important;
}

.media-icon-button .media-icon:hover {
    color: inherit;
    color: unset;
}

.media-icon-bloat .media-icon {
    min-width: 1.2em;
    padding: .2em .4em;
    text-align: center;
    text-align-last: auto;
}

.media-icon-list .media-icon {
    margin: 0 .25em;
}

.media-icon-stretch {
    display: flex;
    justify-content: space-around;
}

.media-icon-circle .media-icon {
    @extend .fa-icon-circle;

    &:hover {
        color: white;
        text-shadow: none;

        &::before {
            box-shadow: none;
        }
    }
}

.media-icon-big {
    @extend .media-icon-basic;
    font-size: 2em;

    &.media-icon-circle {
        @extend .media-icon-button;

        .media-icon {
            transition: .5s;

            &:hover::before {
                background-color: $brand-color !important;
            }
        }
    }
}

.media-icon-shadow .media-icon::before {
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.4), 2px 1px 6px rgba(0, 0, 0, 0.4) inset;
}

#social-media {
    $base-icon-size: 2em;
    $bp-small: 27em;
    $bp-large: $page-wrapper-bp * (100% / $page-wrapper-width) / 16px * 1em;

    font-size: $base-icon-size;

    @media screen and (max-height: $bp-small), screen and (max-width: $bp-small) {
        font-size: $base-icon-size / $bp-small * 100vmin;
    }

    @media screen and (max-width: $bp-small) {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (min-width: $bp-large) {
        font-size: $base-icon-size / $bp-large * 100vw;
    }
}
