/*
 * Text
 */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-justify-full {
    @extend .text-justify;

    @supports (text-align-last: justify) {
        text-align-last: justify;
    }

    @supports (not (text-align-last: justify)) {
        &::after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }
}

.sub-heading {
    font-family: $base-font-family;
    font-weight: 600;
}

.shadow {
    text-shadow: 2px 1px 6px $shadow-color;
}

.font-smoothing-normal, .font-smoothing-dark .font-smoothing-normal {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.font-smoothing-dark, .font-smoothing-normal .font-smoothing-dark {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.avoid-wrap {
    //text-wrap: avoid; //css3
    white-space: nowrap;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*
 * Links
 */

.subtle-link {
    color: inherit;
    text-decoration: none;

    &:visited {
        color: inherit;
    }

    &:hover {
        color: inherit;
    }
}

.subtle-icon {
    @extend .subtle-link;

    &:hover {
        text-decoration: none;
    }
}

/*
 * Icons
 */

.fa-icon-circle {
    $circle-size: 1.5;
    line-height: $circle-size;
    text-align: center;
    border-radius: 50%;
    // border-width: 2px;
    border-width: .07em;
    border-style: solid;
    border-color: inherit;

    &::before {
        display: block;
        width: $circle-size * 1em;
        height: $circle-size * 1em;
        margin: 0;
    }
}

@each $icon-name, $color in $fa-icons {
    .#{$icon-name}-icon {
        &, &:hover {
            color: $color;
            background-color: $color !important;
            border-color: $color !important;
        }
    }
}

%reset-color {
    color: inherit;
    color: unset;
}

%reset-background-color {
    background-color: inherit !important;
    background-color: unset !important;
}

%reset-border-color {
    border-color: inherit !important;
    border-color: unset !important;
}

.media-icon::before {
    @extend .no-select;
    user-select: none;
    transition: .3s;
}

.media-icon-basic .media-icon {
    &:not(:hover) {
        @extend %reset-color;
    }

    &, &:hover {
        @extend %reset-background-color, %reset-border-color;
    }
}

.media-icon-button .media-icon {
    @extend .media-icon-bloat;

    &:not(:hover) {
        color: white;
    }
}

.media-icon-bloat .media-icon {
    min-width: 1.2em;
    padding: .2em .4em;
    text-align: center;
    text-align-last: auto;
}

.media-icon-list .media-icon {
    margin: 0 .25em;
}

.media-icon-stretch {
    display: flex;
    justify-content: space-around;
}

.media-icon-circle .media-icon {
    @extend .fa-icon-circle;

    &:not(:hover) {
        @extend %reset-color, %reset-background-color, %reset-border-color;
    }

    &:hover {
        color: white;
        text-shadow: none;

        &::before {
            box-shadow: none;
        }
    }
}

.media-icon-big {
    @extend .media-icon-basic;
    font-size: 2em;

    &.media-icon-circle {
        @extend .media-icon-button;

        .media-icon {
            transition: .5s;

            &:hover::before {
                background-color: $brand-color !important;
            }
        }
    }
}

.media-icon-shadow .media-icon::before {
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.4), 2px 1px 6px rgba(0, 0, 0, 0.4) inset;
}

#social-media {
    $base-icon-size: 2em;
    $bp-small: 27em;
    $bp-large: $bp-mobile * (100% / $splash-wrapper-width) / 16px * 1em;

    font-size: $base-icon-size;

    @media screen and (max-height: $bp-small), screen and (max-width: $bp-small) {
        font-size: $base-icon-size / $bp-small * 100vmin;
    }

    @media screen and (max-width: $bp-small) {
        display: flex;
        justify-content: space-around;
    }

    @media screen and (min-width: $bp-large) {
        font-size: $base-icon-size / $bp-large * 100vw;
    }
}
