@each $query in (max, min) {
    $sorted-bp: sort-units(map-values($bp), $order: px em);
    @for $i from 1 through length($sorted-bp) {
        $unit-set: sort(nth($sorted-bp, $i));
        @if $query == "max" {
            $unit-set: reverse($unit-set);
        }
        $sorted-bp: set-nth($sorted-bp, $i, $unit-set);
    }
    $sorted-bp: unique(flatten($sorted-bp));
    @each $breakpoint in $sorted-bp {
        @if ($query == "min") and (index('px', unit($breakpoint))) {
            $breakpoint: $breakpoint + 1;
        }
        @media screen and (#{$query}-width: $breakpoint) { /* #{$query} #{$breakpoint} wide */  }
    }
}
