/*
 * Themes
 */

@each $theme, $settings in $themes {
    $i: index($themes, ($theme $settings));
    $selectors: ".#{$theme}";
    @if $i == 1 {
        $selectors: append("body", $selectors, "comma");
    }
    @each $other-theme in map-keys($themes) {
        @if $other-theme != $theme {
            $selectors: append($selectors, ".#{$other-theme} .#{$theme}", "comma");
        }
    }
    #{$selectors} {
        @include theme(
            $background-color: map-get($settings, background-color),
            $text-color: map-get($settings, text-color),
            $brand-color: map-get($settings, brand-color),
            $light-text: map-get($settings, light-text),
            $accessibility: map-get($settings, accessibility),
        );
    }
}
