/*
 * Transitions
 */

@each $name, $transition in $transitions {
    .t-#{$name} {
        -webkit-transition-duration: $transition;
        transition-duration: $transition;
    }
}

.t-inherit {
    -webkit-transition: inherit;
    transition: inherit;
}

.t-deep > * {
    @extend .t-inherit;
}

.t-none {
    -webkit-transition: 0s;
    transition: 0s;
}

.t-ease-in {
    transition-timing-function: ease-in;
}

.t-ease-out {
    transition-timing-function: ease-out;
}

.t-ease-in-out {
    transition-timing-function: ease-in-out;
}

.t-linear {
    transition-timing-function: linear;
}

.t-all {
    transition-property: all !important;
}

.t-transform {
    transition-property: transform;
}
