// Basic Variables

$base-font-family:      "Raleway", sans-serif;
$base-font-size:        1.25rem;
$base-font-weight:      400;
$base-line-height:      1.4;
$base-line-length:      36em;
$base-icon-size:        1.5rem;

$header-sizes:          2em, 1.2em, 1.1em;
$header-font-weight:    600;

$header-height:         56px;

$text-shadow:           1px 1px 4px rgba(0, 0, 0, 0.2);
$full-shadow:           0 0 0.24em black;

$perspective:           2000px;

// Images

$splash-bg:             url("#{$baseurl}/assets/gulp-backgrounds/lower-pool.jpg");

// Generated Classes

$themes: (
    "light": (
        text-color: #171717,
        background-color: white,
        brand-color: royalblue,
    ),
    "dark": (
        text-color: white,
        background-color: #171717,
    ),
);

$theme-depth: 1; // controls the depth (in a series nested themes) at which an element still inherits the styles of its immediate ancestor theme. stylesheets get much larger and more complex as this number increases, so it should be set as low as possible.

$sizes: (
    "full":             100%,
    "half":             50%,
    "screen":           100vw 100vh,
    "half-screen":      50vw 50vh,
    "no":               0,
    "auto":             auto,
);

$spacings: (
    "auto":     auto,
    "0":        0,
    "xs":       10px,
    "s":        15px,
    "m":        30px,
    "l":        60px,
);

$default-spacing: map-get($spacings, m);

$borders: (
    "basic": (
        width: 1px,
        style: solid,
    ),
);

$z-range: -9, 9;

$transitions: (
    "short":    .25s,
    "default": .3s,
    "long":     1s,
);

// Breakpoints

$bp: (
    "large":    1000px,
    "laptop":   800px,
    "mobile":   600px,
    "header":   600px,
);
