/*
 * Wrappers
 */

.wrapper-padding {
    padding-left: map-get($spacings, l);
    padding-right: map-get($spacings, l);

    @media screen and (max-width: map-get($bp, mobile)) {
        padding-left: map-get($spacings, m);
        padding-right: map-get($spacings, m);
    }
}

.content-wrapper {
    @include wrapper((large, laptop, mobile));
}

.text-wrapper {
    box-sizing: content-box;
    max-width: $base-line-length;
}

.unwrap {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.stretch {
    @extend .unwrap;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}
