@function _lt($a, $b, $order) {
  @if type-of($a) == "number" and type-of($b) == "number" {
    @return $a < $b;
  }

  $a: to-lower-case($a + unquote(""));
  $b: to-lower-case($b + unquote(""));

  @for $i from 1 through min(str-length($a), str-length($b)) {
    $char-a: str-slice($a, $i, $i);
    $char-b: str-slice($b, $i, $i);

    @if $char-a and $char-b and index($order, $char-a) != index($order, $char-b) {
      @return index($order, $char-a) < index($order, $char-b);
    }
  }

  @return str-length($a) < str-length($b);
}

@function check-bp($breakpoint, $bp-list: $bp) {
    $type: type-of($breakpoint);
    @if $type == string {
        @if map-has-key($bp-list, $breakpoint) {
            $breakpoint: map-get($bp-list, $breakpoint);
        } @else {
            @error "#{$breakpoint} is not a known breakpoint."
        }
    } @else if $type != number {
        @error "Breakpoint must either be a number or the name of a known breakpoint. '#{$breakpoint}' is a #{$type}"
    }

    @return $breakpoint;
}
