{% capture blank %}
  {% if page.parallax %}
    {% assign parallax = page.parallax %}
  {% elsif layout.parallax %}
    {% assign parallax = layout.parallax %}
  {% elsif page.collection.parallax %}
    {% assign parallax = page.collection.parallax %}
  {% endif %}

  {% if page.itemtype %}
    {% assign itemtype = page.itemtype %}
  {% elsif layout.itemtype %}
    {% assign itemtype = layout.itemtype %}
  {% elsif page.collection.itemtype %}
    {% assign itemtype = page.collection.itemtype %}
  {% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{% if parallax %} parallax-body {% endif %}" {% if itemtype %} itemscope itemtype="{{ itemtype }}" {% endif %}>

    {% if parallax %}
    <div class="parallax-page">
    {% endif %}

      {% include header.html %}

      {{ content }}

    {% if parallax %}
    </div>
    {% endif %}

    {% include scripts.html %}

  </body>

</html>
