<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{% if page.parallax or page.collection.parallax %}parallax-body{% endif %}" {% if page.itemtype %} itemscope itemtype="{{ page.itemtype }}" {% endif %}>

    {% if page.parallax or page.collection.parallax %}
    <div class="parallax-page">
    {% endif %}

      {% include header.html %}

      {{ content }}

    {% if page.parallax or page.collection.parallax %}
    </div>
    {% endif %}

    {% include scripts.html %}

  </body>

</html>
