---
layout: default
---

<div class="text-wrapper auto-width-gt-large flex-row-gt-large flex-justify-center v-rhythm v-rhythm-0-gt-large margin-auto-h padding-l-v wrapper-padding">

  <article class="text-wrapper margin-l-r margin-auto-h-lt-large">

    <header>
      <time class="fs-smaller text-light" datetime="{{ page.date | date_to_xmlschema }}" data-preview-field="date" data-preview-date="MMM D, YYYY">{{ page.date | date: "%B %-d, %Y" }}</time>
      <h1 class="margin-0-b" data-preview-field="title">{{ page.title | smartify }}</h1>
      {% if page.author %}
        <p data-preview-field="author">by {{ page.author }}</p>
      {% endif %}
      {% if page.header.image %}
        {% assign image = page.header.image | prepend: site.baseurl %}
        <figure class="margin-m-t">
          <img src="{{ image }}" alt=""
              srcset="{% include gulp-srcset.liquid src=image width=page.header.width %}"
              sizes="(max-width: 840px) 100vw, 720px"
              data-preview-asset="header.image">
          {% if page.header.caption %}
            {% assign capt_length = page.header.caption | size %}
            {% if capt_length > 0 %}
              <figcaption class="margin-s-t text-left" data-preview-widget="header.caption">{{ page.header.caption | markdownify }}</figcaption>
            {% endif %}
          {% endif %}
        </figure>
      {% endif %}
    </header>

    <div data-preview-widget="body">
      {{ page.content }}
    </div>

  </article>

  {% assign posts = site.posts | size %}
  {% if posts > 1 %}
    <aside class="sidebar-gt-large">
      <h2>Recent Articles</h2>
      <div class="v-rhythm fs-smaller">
        {% for post in site.posts limit: 6 %}
          {% unless post.id == page.id %}
            {% assign excerpt = post.excerpt | truncate: 200 %}
            <article class="relative full-width">
              {% include post-preview.html post=post excerpt=excerpt heading=3 author=true spacing='s' %}
            </article>
          {% endunless %}
        {% endfor %}
      </div>
    </aside>
  {% endif %}

</div>
